* {
  margin: 0; /* внешний отсуп */
  padding: 0; /* внутренний отсуп */

  border: 0; /* обводка */
}

*,
*:before,
*:after {
  /* меняет ширину блока что было удобно верстать */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* box-sizing: border-box - начинает включать в себя внутренний отступ и обводку */
}

:focus,
:active {
  /* убераем линии обводки у некоторых браузеров */
  outline: none;
}

a:focus,
a:active {
  /* убераем линии обводки у некоторых браузеров */
  outline: none;
}

nav,
footer,
header,
aside {
  /* делаем элементы блочными */
  display: block;
}

html,
body {
  /* уравнивает ширфты и элементы для разынх браузеров (заприщают самовольное увеличение шрифта(пример))*/
  width: 100%;
  height: 100%;

  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: "Cormorant Garamond";
  background: #000;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

input,
button,
textarea {
  /* наследование шрифта */
  font-family: inherit;
}

input::-ms-clear {
  /*убирают крестик в internet explayer*/
  display: none;
}

button {
  /*убирают курсор при вводе текста*/
  cursor: pointer;
}
button::-moz-focus-inner {
  /* убирают лишние отступы в firefox для кнопок */
  padding: 0;

  border: 0;
}
a,
a:visited {
  /**/
  text-decoration: none;
  color: #ffff;
}

a:hover {
  /**/
  text-decoration: none;
}

ul li {
  /**/
  list-style: none;
}

img {
  /**/
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* обнуляем заголовки h */
  font-size: inherit;
  font-weight: 400;
}


  /* Большой дисплей */
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
      margin: 0 auto;
      color: #ffff;  
    }
    .bgImg {
      position: absolute;
      top: 0;
      left: 0;
      background: no-repeat;
      background-size: contain;
      width: 100%;
      height: 1038px; 
    }
    .header__content {
      font-size: 18px;
      text-transform: capitalize;
      text-align: center;
      z-index: 1;
    }
    header *{
      z-index: 1;
    }
    .img__instagram {
      background: url(/img/svg/Group\ 2.svg) no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      margin: auto 0;
      
    }
    .logo{
      background: url(/img/svg/omega-sign-svgrepo-com\ 1.svg) no-repeat;
      background-size: contain; 
      width: 40px;
      height: 40px;
      margin: auto 0;
    }
    .burger__menu {
      background: url(/img/svg/Group\ 1.svg) no-repeat;
      background-size: contain;
      width: 50px;
      height: 20px;
      margin: auto 0;
    }
    .header__nav {
      display: flex;
      flex-direction: row;
      min-height: 70px;
      justify-content: space-between;
      margin: auto 0;
    }
    .header__nav::after {
      content: "";
      position: absolute;
      top: 70px;
      border-bottom: 1px #FFFFFF solid;
      width: 1198px;
    }
    .header__nav ul{
      display: flex;
      flex-direction: row;
    }
    .header__nav ul li {
      display: inline-block;
      margin: auto 30px;
      height: max-content;
    }
    
    .header__nav_links--main {
    }
    .header__nav_links--masters {
    }
    .header__nav_links--cosmetics {
    }
    .header__nav_links--stock {
    }
    .header__nav_links--reviews {
    }
    .header__nav_links--contacts {
    }
    h1 {
      position: relative;
      font-size: 72px;
      font-weight: bold;
      max-width: 600px;
      margin: 260px auto 0 auto;
      line-height: 86px;
    }
    .imgDownSkroll {
      position: relative;
      display: inline-block;
      margin: 250px auto 90px auto;
      background-color:unset;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
    }
    .imgDownSkroll::before {
      content: "";
      display: inline-block;
      position: relative;
      background: url(/img/svg/Group\ 5.svg) no-repeat;
      height: 30px;
      width: 20px;
      vertical-align: middle;
      margin: 0 20px 0 0;
    }
    .main__content {
    }
   }
  /* От портретного планшета до ландшафтного экрана и настольных дисплеев */
  @media (min-width: 768px) and (max-width: 979px) {

  } 
  /* От ландшафтного экрана телефона до потретного планшета */
  @media (max-width: 767px) {

  }
  /* Landscape - телефоны */
  @media (max-width: 480px) {
    
  }
